<main class="reset-page">
  <div class="bg-orb"></div>
  <div class="bg-grid"></div>

  <div class="reset-card">
    <div class="card-logo">
      <lucide-icon
        name="crosshair"
        [size]="28"
        color="rgb(34,197,94)"
      ></lucide-icon>
    </div>

    <h1 class="card-title">Nova Password</h1>
    <p class="card-subtitle">Escolhe uma nova password para a tua conta</p>

    <div class="form">
      <div class="field">
        <label>Nova Password</label>
        <div class="input-wrap">
          <lucide-icon
            name="key-round"
            [size]="15"
            class="input-icon"
          ></lucide-icon>
          <input
            type="password"
            [(ngModel)]="password"
            placeholder="••••••••"
            [disabled]="loading()"
          />
        </div>
      </div>

      <div class="field">
        <label>Confirmar Password</label>
        <div class="input-wrap">
          <lucide-icon
            name="key-round"
            [size]="15"
            class="input-icon"
          ></lucide-icon>
          <input
            type="password"
            [(ngModel)]="confirmPassword"
            placeholder="••••••••"
            [disabled]="loading()"
          />
        </div>
      </div>

      @if (errorMsg().length > 0 && !loading()) {
        <div class="alert alert-error">
          <lucide-icon name="circle-alert" [size]="15"></lucide-icon>
          {{ errorMsg() }}
        </div>
      }
      @if (successMsg().length > 0) {
        <div class="alert alert-success">
          <lucide-icon name="check-circle" [size]="15"></lucide-icon>
          {{ successMsg() }}
        </div>
      }

      <button class="btn-submit" (click)="submit()" [disabled]="loading()">
        @if (loading()) {
          <lucide-icon name="loader" [size]="16" class="spin"></lucide-icon>
        } @else {
          Atualizar Password
        }
      </button>
    </div>
  </div>
</main>
